<div class="darkmode"></div>

<div class="followresults">
    <% @user.followers.each do |e| %>

        <div class="followshow">
            <%= link_to '@'+e.username, user_path(e.id)%>
        </div>

    <% end %>

</div>