*{
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* body{
    background-color:#0c1c25;
} */
.comment-input{
    border-top:3px solid black;
    display:flex;
    justify-content:center;
    /* width:627px; */
}
.comment-input > textarea{
    margin-top: 10px;
    padding-top:20px;
    width:627px;
}
.comment{
    border-left:3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    position:relative;
    width:627px;
    margin:auto;
    display:grid;
    justify-content: center;
    grid-template-columns: fit-content(100%) fit-content(100%);
    grid-template-areas:
    "comment-user comment-reply"
}
.comment-user { grid-area: comment-user } 
.comment-reply { grid-area: comment-reply } 
.comment-reply {
    margin-left: 20px;
}


.likebutt{
    width:30px;
    height:30px;
    /* border-radius: 50%; */
}

.post-image > img{
    /* max-width:20vw; */
    max-width:250px;
    /* zoom: 50%; */
    /* z-index: -1 */
}
.post-image{
    display: flex;
    justify-content:space-between;
}

.userbio{
    max-height:100px;
    max-width: auto;
    height:fit-content;
}

p{
    padding:5px;
}
.profile-header{
    position:relative;
    justify-content:center;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
.head{
    position:relative;
    width:100%;
    margin:auto;
    display:grid;
    justify-content: center;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr 1fr; 
    border-bottom: 3px solid black;
    gap: 0px 0px; 
    /* margin-bottom:5px; */
    grid-template-areas: 
    "blahblah title user-stuff"
    }
    .blahblah { grid-area: blahblah; }
    .user-stuff { grid-area: user-stuff; }
.user-stuff{
    display:flex;
    align-items:center;
}
.blahblah{
    display:flex;
    justify-content:center;
}
/* .user-image{
    width:25px;
} */

.container{
    position:relative;
    width:627px;
    margin:auto;
    display:grid;
    justify-content: center;
    grid-auto-columns: 1fr; 
    grid-template-columns: 75px 50px 231px 134px 134px; 
    grid-template-rows: 28px fit-content(100%) 25px 45px; 
    border-top: 3px solid black;
    border-left:3px solid black;
    border-right: 3px solid black;
    gap: 0px 0px; 
    /* margin-bottom:5px; */
    grid-template-areas: 
    "title title title user edit"
    "content content content content content"
    "create_time create_time create_time create_time create_time"
    "up count down down down"; 
    }
    .title { grid-area: title; }
    .user { grid-area: user; }
    .created_time { grid-area: create_time;}    
    .content { grid-area: content; }
    .edit { grid-area: edit;}
    .count { grid-area: count;}
    .up { grid-area: up;}
.content{
    padding-left:5px;
    font-size: 16px;
    margin-bottom:5px;
}
.count, .up{
    margin-top:5px;
    display:flex;
    justify-content: center;
}

.title{
    padding-left: 5px;
    display:inline-block;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: calc(90%);
    overflow: hidden;
    font-weight: 600;
    
}
.create_time{
    font-size:12px;
    /* text-overflow:ellipsis; */
    white-space: nowrap;
}
input{
    max-width:200px;
}
textarea{
    background-color: #f8f8f8;
    width:400px;
    resize:none;
    border-radius:5px;
    overflow-y: hidden;
}
textarea::-webkit-scrollbar {
    display: none;
}
.review-form{
    display:grid;
    justify-content: center;
}
/* .input, .article-title{
    display:flex;
    justify-content: center;
} */
.create_time{
      margin-top:5px
}

a{
    text-decoration:none;
    color:black;
    font-weight:600;
}

.profile-page-image > img{
    border:3px solid black;
    border-radius:10px;
    max-width: 100px;

}
.profile-header{
    width:627px;
    /* make into a grid */
}
.user-page, .user-post, .profile-page-image{
    display:flex;
    justify-content: center;
}

.show{
    border-top:none;
}
p{
    margin-bottom:0;
}

.usercont{
    border-left: none;
    border-right: none;
}

.circle{
    /* border:5px solid red; */
    background:darkslateblue;
    position:absolute;
    width:2000px;
    height:200vh;
    border-radius: 50%;
    z-index:-100;
    margin-top: -600px;
    margin-left: -1150px;
}